@{
    ViewData["Title"] = "Home Page";
}

@model SteamItemModel
@section Scripts {
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>
}

<form asp-action="Search" method="post" id="searchForm">
    <div class="form-group">
        <input asp-for="InputItemName" class="form-control" id="autocomplete" />
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </div>
</form>

<div id="suggestions" class="list-group mt-2"></div>
