@{
    ViewData["Title"] = "Home Page";
}

@model SteamItemModel

<form asp-action="Index" method="post">
    <input asp-for="InputItemName" class="form-control" />
    <button type="submit">Submit</button>
</form>

@if (Model != null && Model.IsValidName)
{
    <h3>Graphs for: @Model.InputItemName</h3>
}
else
{
    <h3>Invalid item name!</h3>
    <h3>Showing default graphs for: Glove Case Key</h3>
}

@* <partial name="~/Views/Graphs/_OldPlotly.cshtml" /> *@


@* <partial name="~/Views/Graphs/_PriceHistoryGraph.cshtml" /> *@
@* <partial name="~/Views/Graphs/_CandleStickWithVolume.cshtml" /> *@
<div id="price-history-container">
    @await Html.PartialAsync("~/Views/Graphs/_PriceHistoryWithVolume.cshtml")
</div>

<div id="ln-price-history-container">
    @await Html.PartialAsync("~/Views/Graphs/_LnPriceHistoryWithVolume.cshtml")
</div>

