@{
    ViewData["Title"] = "Home Page";
}

@model SteamItemViewModel

<form asp-action="Index" method="post">
    <input asp-for="SteamItemName" class="form-control" />
    <button type="submit">Submit</button>
</form>

@if (Model != null && Model.SteamItemName != null)
{
    <h3>You entered: @Model.SteamItemName</h3>
}
<h1>@ViewBag.hello</h1>

<partial name="~/Views/Graphs/HistoricPriceChart.cshtml" />


