@{
    ViewData["Title"] = "Search";
}

@model SteamItemModel

<form asp-action="Search" method="post" id="searchForm">
    <div class="form-group">
        <input asp-for="InputItemName" class="form-control" id="autocomplete" />
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </div>
</form>

<div id="suggestions" class="list-group mt-2"></div>

@if (Model != null && Model.IsValidName)
{
    <h3>Graphs for: @Model.InputItemName</h3>

    
    @* <partial name="~/Views/Graphs/_OldPlotly.cshtml" /> *@

    <!--old-->
    @* <partial name="~/Views/Graphs/_PriceHistoryGraph.cshtml" /> *@
    @* <partial name="~/Views/Graphs/_CandleStickWithVolume.cshtml" /> *@


    <div id="price-history-container">
        @await Html.PartialAsync("~/Views/Graphs/_PriceHistoryWithVolume.cshtml")
    </div>

    <div id="ln-price-history-container">
        @await Html.PartialAsync("~/Views/Graphs/_LnPriceHistoryWithVolume.cshtml")
    </div>

    <div id="sma-container">
        @await Html.PartialAsync("~/Views/Graphs/_SmaWithVolume.cshtml")
    </div>

    <div id="ema-container">
        @await Html.PartialAsync("~/Views/Graphs/_EmaWithVolume.cshtml")
    </div> 

    <div id="bb-container">
        @await Html.PartialAsync("~/Views/Graphs/_BBWithVolume.cshtml")
    </div>

    <div id="rsi-container">
        @await Html.PartialAsync("~/Views/Graphs/_RsiWithVolume.cshtml")
    </div> 



    <!--need to use with data with multiple price values for a day-->
    @*
    <div id="mfi-container">
        @await Html.PartialAsync("~/Views/Graphs/_MfiWithVolume.cshtml")
    </div>
    *@

}
else
{
    <h3>Invalid item name!</h3>
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script>
        $(function () {
            $("#searchForm").on("submit", function(e) {
                if ($("#autocomplete").val().trim() === "") {
                    e.preventDefault();
                    return false;
                }
            });

            $("#autocomplete").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "@Url.Action("AutoComplete", "Home")",
                        type: "GET",
                        data: { prefix: request.term },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    $("#autocomplete").val(ui.item.value);
                    $("#searchForm").submit();
                }
            }).autocomplete("instance")._renderItem = function(ul, item) {
                var newText = String(item.label).replace(
                    new RegExp(this.term, "gi"),
                    "<strong>$&</strong>");

                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<div><img src='" + item.image + "' alt='" + item.label + "' style='width: 32px; height: 32px; margin-right: 10px;'>" + newText + "</div>")
                    .appendTo(ul);
            };
        });
    </script>
}